@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<div class="AddPopUp">
    @Html.Label("Frokost")
</div>
<div class="modal fade" id="LunchOffer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <h1>
                        Frokosttilbud mellem 11 og 15. <br />
                        20% på alle pizzaer
                    </h1>
                </center>

                <center><a href="asp-area=" " asp-page="/Forms/Menu" class="btn">Se menukort</a></center>



            </div>
        </div>
    </div>
</div>

<!--OBS Skal over på en ekstern JavaScript side  start OBS-->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".AddPopUp").click(function (e) {
                $('#LunchOffer').modal('show');
            });
        });
    </script>
}


<!-- OBS Skal over på en ekstern JavaScript side slut OBS-->



<div class="text-center">
    <h1 class="display-4">Cafe Luccas</h1>
    <br />
</div>

<div class="imageone">
    <img src="~/images/PizzaExample.jpeg" alt="Pizza">
    <button class="btn">Se menu</button>
</div> 




